@import '../../../styles/globals.scss';

.content {
  max-width: 1440px;
  height: fit-content;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Play', sans-serif;

  @include respond-to(medium-screens) {
    padding-top: 20px;
  }

  @include respond-to(wide-screens) {
    padding-top: 20px;
  }

  p {
    font-family: 'Play', sans-serif;
  }
}

.expanded-sect {
  height: fit-content;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;

  @include respond-to(handhelds) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.mat-accordion {
  width: 100%;
}

.skill-items {
  height: fit-content;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include respond-to(handhelds) {
    justify-content: space-between;
  }

  @include respond-to(medium-screens) {
    justify-content: flex-start;
  }
}
